{% extends 'base-admin.html.twig' %}

{% block title %}Lignes de commandes{% endblock %}

{% block body %}
    <h1>Lignes de commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produit</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_commande in ligne_commandes %}
            <tr>
                <td>{{ ligne_commande.id }}</td>
                <td>{{ ligne_commande.produit }}</td>
                <td>{{ ligne_commande.quantity }}</td>
                <td>{{ (ligne_commande.price / 100)|number_format(2, ',', '.')}} €</td>
                <td>{{ (ligne_commande.total / 100)|number_format(2, ',', '.')}} €</td>
                <td>
                    <a href="{{ path('admin_ligne_commande_show', {'id': ligne_commande.id}) }}">show</a>
                    <a href="{{ path('admin_ligne_commande_edit', {'id': ligne_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_ligne_commande_new') }}">Create new</a>
{% endblock %}
