{% extends 'base.html.twig' %}

{% block title %}Safar - {{produit.nom}}{% endblock %}
{% block body %}
<div class="container">

<div class="row">
<div class="col-12 col-md-4 d-flex justify-content-center mt-2 mb-3">
<img src="{{ asset('images/produits/' ~ produit.imageName )}}" alt="{{produit.nom}}" class="img-fluid mt-3">
</div>
<div class="row col-12 col-md-8 d-flex align-self-center">
<h1 class="text-center">{{produit.Nom}}</h1>
<span class="text-center">{{ produit.description|raw}}</span>
</div>
<div class="row d-flex justify-content-center">
<span class="produits-prix d-block text-center ">{{ (produit.prix / 100)|number_format(2, ',', '.')}} €</span>
    <a href="{{path('add_to_cart', { 'id' : produit.id})}}" class="btn btn-outline-danger col-6 mb-4">Ajouter au panier</a>
</div>
</div>
</div>
</div>
{% endblock %}
