{% extends 'base.html.twig' %}

{% block title %}Safar beauty - Modifier-mon-mot-de-passe{% endblock %}

{% block body %}
<h3>Modifier mon mot de passe</h3>
<div class="alert alert-success">{{ notification }}</div>

    <a href="{{ path('mon_compte')}}">Retourner à mon compte</a></br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
{% if notification %}
{% endif %}
{% endblock %}
