{% extends 'base-admin.html.twig' %}

{% block title %}Carrier{% endblock %}

{% block body %}
    <h1>Carrier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ carrier.Nom|raw }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ carrier.description|raw }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ carrier.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_carrier_index') }}">back to list</a>

    <a href="{{ path('admin_carrier_edit', {'id': carrier.id}) }}">edit</a>

    {{ include('admin_carrier/_delete_form.html.twig') }}
{% endblock %}
