{% extends 'base.html.twig' %}

{% block title %}Safar beauty - Ecrivez nous{% endblock %}

{% block body %}

<h3 class="text-center mt-3 ">Ecrivez nous</h3>
    
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 px-5">{{ form_row(form.nom)}}</div>
        <div class="col-md-6 px-5">{{ form_row(form.prenom)}}</div>
        <div class="col-md-6 px-5">{{ form_row(form.email)}}</div>
        <div class="col-12 px-5">{{ form_row(form.message)}}</div>

    </div>
    
<button class="btn btn-danger my-3 ms-5">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}

   

{% endblock %}
