<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="{{asset('css/admin.min.css')}}">
    {% block stylessheets %}{% endblock %}
    </head>

    <div id="base-admin">
    <body class="site-body">
       {# HEADER #}
       <header class="header bg-dark text-light py-3 px-3 d-flex justify-content-between">
       <div class="text-light">Safar beauty</div>
            <div class="d-flex"> 
            <span>{{ app.user.nom}}</span><a class="text-light" href="{{path('app_logout') }}"> Déconnexion</a> 
             </div>
        </header>
       {# FIN HEADER #}
        <div class="">
            <div class="row">
                <div class=" col-8 col-md justify-content-center pt-5">
                <ul class="list-unstyled ">
                    <li>
                        <a href="{{ path('admin_commande_index')}}" class="btn btn">
                            <i class="fas fa-shopping-cart me-2 mt-5 "></i> Commandes</a>
                            </li>
                    <li>
                        <a href="{{ path('admin_ligne_commande_index')}}" class="btn btn">
                            <i class="fas fa-cart-plus me-2 py-4"></i></i> D.commandes</a>
                            </li>
                    <li>
                        <a href="#" class="btn btn">
                            <i class="fas fa-chart-line me-2 py-4"></i>Dashboard</a>
                            </li>
                    <li>
                        <a href="{{ path('admin_user_index', {role: 'admin'})}}" class="btn btn">
                            <i class="fas fa-user-shield me-2 py-4"></i>Administrateurs</a>
                            </li>
                    <li>
                        <a href="{{ path('admin_user_index', {role: 'user'})}}" class="btn btn ">
                            <i class="fas fa-users me-2 py-4"></i>Utilisateurs</a>
                            </li>
                   
                    <li>
                        <a href="{{path('admin_categorie_index')}}" class="btn btn">
                            <i class="fas fa-list me-2 py-4"></i>Categories</a>
                            </li>
                    <li>
                        <a href="{{path('admin_produit_index')}}" class="btn btn">
                            <i class="fas fa-list me-2 py-4"></i>Produits</a>
                            </li>
                    <li>
                        <a href="{{path('admin_messages_index')}}" class="btn btn">
                            <i class="far fa-envelope me-2 py-4"></i>Messages</a>
                            </li>
                    <li>
                        <a href="{{path('admin_carrier_index')}}" class="btn btn">
                            <i class="fas fa-truck"></i>Transporteur</a>
                            </li>
                    <li>
                        <a href="{{path('admin_header_index')}}" class="btn btn">
                    <i class="fas fa-desktop me-2 py-4"></i>Header</a>
                            </li>
                </ul>
            </div>
            <div class="col-12 col-md-10">
        {% block body %} {% endblock %}
            </div>
    
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
         <script src="https://unpkg.com/@adminkit/core@latest/dist/js/app.js"></script>

    {% block javascripts %}{% endblock %}
    </body>
</div>
</html>
